<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/authtoken.js"></script>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm">
            <div class="error-message" id="errorMessage"></div>
            <label for="name">UserName</label>
            <input type="text" id="name" name="name" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p style="text-align: center">Continue with </p>
        <div class="google-btn">
            <a href="/oauth2/authorization/google"><img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="20"></a>
        </div>
    </div>

<script>
    $(document).ready(function () {
        $('#loginForm').submit(function (event) {
            event.preventDefault();
            const username = $('#name').val();
            const password = $('#password').val();
            $.ajax({
                url: 'http://localhost:8081/auth/signin',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({username, password}),
                success: function (response) {
                    //console.log("JWT Token: ", response);
                    localStorage.setItem('access_token', response['accessToken']);
                    if (response !== null){
                     window.location.href = "/index";
                    } else {
                        throw new Error("Invalid Credentials")
                    }
                },
                error: function (error) {
                    $('#errorMessage').text("Invalid Credentials");
                }
            })
        });
    });
</script>
</body>
</html>
