<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src ="/static/js/authtoken.js"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Edit User</h1>

    <form id="editUserForm" class="mb-5">
        <input type="hidden" id="id">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        // Get user ID from query parameters
        const urlParams = new URLSearchParams(window.location.search);
        const userId = urlParams.get('id');

        // Fetch user details and populate the form
        $.authenticatedAjax({
            url: `http://localhost:8081/users/${userId}`,
            method: 'GET',
            success: function (user) {
                $('#id').val(user['content'].id);
                $('#name').val(user['content'].username);
                $('#email').val(user['content'].email);
                $('#phone').val(user['content'].phone);
            },
        });

        // Update user details
        $('#editUserForm').submit(function (event) {
            event.preventDefault();
            const id = $('#id').val();
            const username = $('#name').val();
            const email = $('#email').val();
            const phone = $('#phone').val();

            $.authenticatedAjax({
                url: `http://localhost:8081/users/edit/${id}`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({id, username, email, phone}),
                success: function () {
                    alert('User updated successfully!');
                    window.location.href = "/index";
                }
            });
        });
    });
</script>
</body>
</html>