<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/authtoken.js"></script>
</head>
<body>

<div class="container">
    <h1 class="mt-5">User Management</h1>
    <a href="/index/add" class="btn btn-primary mb-3">Add User</a>
    <div id="userList">
        <h2>User List</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="usersTable">

            </tbody>
        </table>
    </div>
    <div>
        <a href="/index/chat" class="btn btn-primary mb-3">Chat</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.authenticatedAjax({
            url: 'http://localhost:8081/users',
            method: 'GET',
            contentType: 'application/json',
            success: function (users) {
                $('#usersTable').empty();
                $.each(users['content'], function (index, user) {
                    $('#usersTable').append(`
                        <tr>
                            <td>${user.id}</td>
                            <td>${user.username}</td>
                            <td>${user.email}</td>
                            <td>${user.phone}</td>
                            <td>
                                <a href="/index/edit?id=${user.id}" class="btn btn-info btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm deleteUser" data-id="${user.id}">Delete</button>
                            </td>
                        </tr>
                    `);
                });
                bindDeleteEvents();
            }
        });
    });

    function bindDeleteEvents() {
        $(document).on('click', '.deleteUser', function () {
            const id = $(this).data('id');
            $.authenticatedAjax({
                url: `http://localhost:8081/users/delete/${id}`,
                method: 'DELETE',
                success: function () {
                    alert("Deleted successfully");
                    window.location.href = "/index";
                }
            });
        });
    }
</script>
</body>
</html>
